{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/assets/css/swiper.css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col d-flex justify-content-center">
				<div class="card border-dark">
					<div class="card-body">
						<p class="card-text text-center">Toi qui cherche une nouvelle idée</p>
					</div>
					<img src="https://picsum.photos/200?random=25" class="card-img-top" alt="...">
				</div>
			</div>
			<div class="col fs-1 d-flex align-items-center justify-content-center">
				<h1>Toi aussi crée ton MEME</h1>
				<a href="/create" class="stretched-link"></a>
			</div>
		</div>
	</div>
	{% set categories = [
        {categorie: "Top 10"},
        {categorie: "Nouveautés"},
        {categorie: "Catégorie 1"},
        {categorie: "Catégorie 2"},
        {categorie: "Catégorie 3"},
        {categorie: "Catégorie 4"},
    ] %}
	{% for categorie in categories %}
		<section class="mb-5">
			<div class="container-fluid mb-4 position-relative">
				<div class="row text-start ">
					<div class="col-md-12 ">
						<h2>{{categorie.categorie}}</h2>
					</div>
				</div>
				<!-- Swiper -->
				<div class="swiper-container overflow-hidden w-100">
					<div class="swiper-wrapper">
						{% for i in 1..15 %}
							<div class="swiper-slide">
								<div class="d-flex flex-column">
									<h3 class="p-2 text-center bg-white">
										Message
										{{ loop.index }}
									</h3>
									<a href="/" class="stretched-link"></a>
									<img src="https://picsum.photos/200?random={{ loop.index }}" class="img-fluid" alt="...">
								</div>
							</div>
						{% endfor %}
					</div>
						<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
	{% endfor %}
{% endblock %}

{% block javascript %}
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script>

		let swiper = new Swiper('.swiper-container', {
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev'
},
slidesPerView: 7,
spaceBetween: 15,
loop: false,
pagination: {
el: ".swiper-pagination",
clickable: true
}
});
	</script>
{% endblock %}
