{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/assets/css/swiper.css">
{% endblock %}

{% block content %}
<a href="/register">Inscription</a><br>
<a href="/edit">Modifie ton MEME</a><br>
<a href="/admin">Admin</a><br>
<a href="/legals">Mentions Légales</a><br>

	<div class="container-fluid">
		<div class="row">
			<div class="col  d-flex flex-column">
									<h3 class="p-2 text-center bg-white rounded-top mx-auto" style="width: 30%">
										Toi le matin quand ......
									</h3>
									<a href="/" class="stretched-link"></a>
									<img src="https://picsum.photos/200/200?random={{ loop.index }}" class=" rounded mx-auto" style="width: 30%; alt="...">
								</div>
			<div class="col fs-1 d-flex align-items-center justify-content-center">
				<h1>Toi aussi crée ton MEME c'est ICI</h1>
				<a href="/create" class="stretched-link"></a>
			</div>
		</div>
	</div>
	{% set categories = [
        {categorie: "Top 10"},
        {categorie: "Nouveautés"},
        {categorie: "Catégorie 1"},
        {categorie: "Catégorie 2"},
        {categorie: "Catégorie 3"},
        {categorie: "Catégorie 4"},
    ] %}
	{% for categorie in categories %}
		<section class="text">
			<div class="container-fluid ">
				<div class="row text-start ">
					<div class="col-md-12 ">
						<h2>{{categorie.categorie}}</h2>
					</div>
				</div>
				<!-- Swiper -->
				<div class="swiper-container overflow-hidden w-100">
					<div class="swiper-wrapper">
						{% for i in 1..15 %}
							<div class="swiper-slide">
								<div class="d-flex flex-column ">
									<h3 class="p-2 text-center bg-white rounded-top">
										Toi le matin quand t'as la tête
										{{ loop.index }}
									</h3>
									<a href="/vote" class="stretched-link"></a>
									<img src="https://picsum.photos/200?random={{ loop.index }}" class="img-fluid rounded-bottom" alt="...">
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	{% endfor %}
{% endblock %}

{% block javascript %}
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script>
		let swiper = new Swiper('.swiper-container', {
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev'
},

spaceBetween: 15,
loop: true,
pagination: {
el: ".swiper-pagination",
clickable: true
},
breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 2,
    },
    // when window width is >= 480px
    768: {
      slidesPerView: 3,
    },
    992: {
      slidesPerView: 4,
    },
    // when window width is >= 1000px
    1400: {
      slidesPerView:10,
    }
    }
});
	</script>
{% endblock %}
