{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Meme Flix</h1>
    <a href="/sign">Inscription</a><br>
    <a href="/connect">Connexion</a><br>
    <a href="/register">Inscription</a><br>
    <a href="/welcome">Bienvenue</a><br>
    <a href="/vote">Vote</a><br>
    <a href="/create">Crée ton MEME</a><br>
    <a href="/edit">Modifie ton MEME</a><br>
    <a href="/admin">Admin</a><br>
    <a href="/legals">Mentions Légales</a><br>
{% endblock %}
