<footer class="fixed-bottom footer-dark bg-dark">
	<div class="row container-fluid">


			<p class="text-light footer-nav col-10">&copy;copyright</p>

			<a class= "text-light footer-nav col-2" href="/legals">mentions légales</a>

	</div>
</footer>

