<footer class="mt-auto footer-dark pt-3" style="background-color: #111010">
	<div class="container-fluid">
		<div class="row">

			<p class="text-start text-light col-6">&copy;Memeflix 2022</p>

			<a class="footer-link text-end col-6" href="/legals">Mentions Légales</a>
		</div>
	</div>
</footer>


