<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand col-2-me" href="#">
			<img class="img-fluid navbar-brand collapse navbar-collapse" src="assets/images/logo_MemeFlix.png" alt="logo_M" width="120" height="40">
			<img class="img-fluid navbar-brand d-lg-none" src="assets/images/logo_M.png" alt=" logo_M" width=" 17">
		</a>

		<ul class="  navbar-nav collapse navbar-collapse flex-row justify-content-around col-8">
			<li class=" nav-item  ">
				<a class="nav-link" href="/">Acceuil</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/create">Fait ton MEME</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login">Inscription</a>
			</li>
		</ul>

		<a class="navbar-nav col-2-ms" href="#">
			<img src="assets/images/logo_user.png" alt="logo_user" width="40" height="40">
		</a>
	</div>
</nav>
