<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #111010">
	<div class="container-fluid">
		<a class="navbar-brand col-2-me" href="/">
			<img class="img-fluid navbar-brand collapse navbar-collapse" src="/assets/images/logo_MemeFlix.png" alt="logo_Memeflix" width="120px">
			<img class="img-fluid navbar-brand d-lg-none" src="/assets/images/logo_M.png" alt="logo_M" width="20px">
		</a>

		<ul class="navbar-nav collapse navbar-collapse flex-row justify-content-around col-8">

			<li class="nav-item">
				<a class="nav-link text-white fs-5" href="/create">Crée ton MEME</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white fs-5" href="/register">Inscription</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="text-white fs-5">hello
						{{ user.pseudo }}
					</i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">

                    <li>
                        <a class="dropdown-item" href="/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            Disconnect</a>
                    </li>
                </ul>
	    </ul>
            <a class="navbar-nav col-2-ms" href="/login">
                <img src="/assets/images/logo_user.png" alt="logo_user" width="40" height="40">

            </a>
            <a href="/logout" class="d-lg-none">Disconnect</a>
    </div>
</nav>


