{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/Private/admin.css">{% endblock %}

{% block content %}
    <h1>Admin Board</h1>
    <a href="/">retour</a><br>
{% endblock %}
