{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/Users/connect.css">
{% endblock %}

{% block content %}


	<h1 class="text-center mb-5 mt-5">Connection</h1>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 p-5">
				<p class="bg-white mb-0 p-3 fs-5 rounded-top fw-bold text-center">
					Toi quand tu dois te connecter
				</p>
				<img id="image" src="assets/images/youwouh.jpg" class="img-fluid rounded-bottom" alt="your image">
			</div>
			<div class="col-lg-6 p-5">
				<div class="p-3">

					<form action="" method="post">
						<div class="mb-4 text-white">
							<label for="email" class="form-label">Email</label>
							<input type="email" class="form-control" id="email" name="email" />
						</div>

						<div class="mb-4 text-white">
							<label for="password" class="form-label">Password</label>
							<input type="password" class="form-control bg-dark" id="password" name="password"/>
						</div>
						<div class="text-center">
							<button type="submit" style="width: 10rem" class="mb-5 mt-5 btn btn-outline-danger btn-lg text-center">Entrez</button>
						</div>
                        <div>
						{% if dataErrors %}
							<ul class="p-0 fw-bold fs-5 text-center list-unstyled text-primary" aria-live="polite" role="alert">
								{% for error in dataErrors %}
                        			<li>{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
