{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/Users/sign.css">{% endblock %}

{% block content %}
    <h1>Inscription</h1>
    <a href="/">retour</a><br>
{% endblock %}

