{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/Users/welcome.css">
{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head><script type="module">
import Swiper from 'https://unpkg.com/swiper@8/swiper-bundle.esm.browser.min.js'
const swiper = new Swiper('.swiper-container', {
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev'
},
slidesPerView: 1,
spaceBetween: 15,
loop: true,
pagination: {
el: ".swiper-pagination",
clickable: true,
},

});</script><link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/><script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script><div class="row">

<div class="col d-flex justify-content-center" dark>
	<div class="card border-dark" style="width: 30rem; ">
		<div class="card-body d-lg-block">
			<p class="card-text text-center" >Toi qui cherche une nouvelle idée</p>
		</div>
		<img src="https://picsum.photos/200?random=25" class="card-img-top" alt="...">
	</div>
</div>
<div class="col fs-1 d-flex align-items-center justify-content-center">
	 <h1 >Toi aussi crée ton MEME</h1>
     <a href="/create" class="stretched-link"></a>
</div></div>



{% set categories = [
                {categorie: "Top 10"},
                {categorie: "Nouveautés"},
                {categorie: "Catégorie 1"},
                {categorie: "Catégorie 2"},
                {categorie: "Catégorie 3"},
                {categorie: "Catégorie 4"},
            ] %}{% for categorie in categories %}
<div class="container-fluid">
	<div class="row text-start ">
		<div class="col-md-12 ">
			<h2>{{categorie.categorie}}</h2>
		</div>
	</div>
</div>
<div
	class="row  ">
	<!-- Swiper -->
	<div class="swiper-container ">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="row flex-nowrap">
					{% for i in 1..15 %}
						<div class="card border-dark g-0" style="width: 18rem;">
							<div class="card-body d-lg-block link">
								<p class="card-text">Message
									{{ loop.index }}</p>
							</div>
                            <a href="/" class="stretched-link"></a>
							<img src="https://picsum.photos/200?random={{ loop.index }}" class="card-img-top" alt="...">
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div></div>{% endfor %}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>{% endblock %}
