{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/Create/create.css">
    {% endblock %}

    {% block content %}

        <a href="/">
            retour
        </a>

        <h1 class="text-center">
            Modifie ton MEME
        </h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="container-fluid">
                        <p class="bg-white mb-1">
                            Quand tu comprend que tu va utiliser le MVC pour ton projet 2
                        </p>
                            <form method="post" enctype="multipart/form-data">
                            <label for="image">
                                <img id="image" class="img-fluid" alt="your image"></label>
                                <input type="file" name="image" id="image" onchange="preview_image(event)">

                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <p class="text-white mt-3 text-center">
                                    Attention un message drôle est fortement recommandé :)
                                </p>
                            </div>
                            <div>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>
                                    Catégories
                                </option>
                                    <option value="1">
                                        Sport
                                    </option>
                                    <option value="2">
                                        Vehicule
                                    </option>
                                    <option value="3">
                                    People
                                </option>
                                    <option value="3">
                                        Divers
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3 text-center">
                                <label for="legend" class="form-label"></label>
                                <textarea class="form-control text-center" id="legend" rows="2" placeholder="Indique ta légende"></textarea>
                            </div>
                            <div class="text-center">
                                <button type="button" style="width: 10rem" class="btn btn-outline-danger bg-white btn-lg text-center">
                                        Valider
                                    </button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>

<script>
    function preview_image(event)
    {
     let reader = new FileReader();
     reader.onload = function()
     {
      let output = document.getElementById('image');
      output.src = reader.result;
     }
     reader.readAsDataURL(event.target.files[0]);
    }
</script>
                {% endblock %}
