{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/Create/vote.css">{% endblock %}

{% block content %}
    <h1>Vote</h1>
    <a href="/">retour</a><br>
{% endblock %}
